= provide(:title, 'New data entry')
%h1 
	New data entry -
	= @project.name
.row
	.span6.offset3
		= form_for(:log, url: project_log_path) do |f|
			= f.label :data_reg
			= f.text_field :data_reg
			= f.submit "Continue", class: "btn btn-large btn-primary"
		%p 
			Need any help?
			= link_to "Click here!", "#"