- provide(:title, @user.name)
.row
	%aside.span4
		%section
			%h1
				= gravatar_for @user
				= @user.name
				%br
				= link_to "Create new project", new_project_path
	%aside
	.span8
		- if @user.projects.any?
			%h3
				Projects (
				= @user.projects.count
				)
			%ol.projects
				= render @projects
			= will_paginate @projects