= provide(:title, 'New Project')
%h1 New Project
.row
	.span6.offset3
		= simple_form_for(:project, url: projects_path) do |f|
			= f.error_notification
			= f.input :name
			= f.input :description
			= f.error :base
			= f.button :submit, text: "Continue"#, class: "btn btn-large btn-primary"
		%p 
			Need any help?
			= link_to "Click here!", "#"