- provide(:title, @project.name)
.row
	%aside.span4
		%section
			%h1
				= gravatar_for @user
				= @user.name
				%br
				= @project.name
	%aside
	%h1 
		= @project.name
	%br
	.row
		.span6.offset3
			%h3
				New data entry:
			= form_for(:log, url: project_logs_path(@project)) do |f|
				= f.label :data_reg
				= f.number_field :data_reg
				= f.submit "Continue", class: "btn btn-large btn-primary"
			- if @project.logs.any?
				%h3
					Data entries (
					= @project.logs.count
					)
				%ol.projects
					= render @logs
			%br
			Min value of data entries:
			= @project.logs.minimum('data_reg')
			%br
			Max value of data entries:
			= @project.logs.maximum('data_reg')
			%br
			Sum of data entries:
			%strong
				= @project.logs.sum('data_reg')
			%br
			Mean value of data entries:
			%strong
				= @project.logs.average('data_reg')
