- provide(:title, @project.name)
.row
	%aside.span4
		%section
			%h1
				= gravatar_for @user
				= @user.name
		%section.description
			%h1
				= @project.name
			%p
				= @project.description
	%aside.span8
		%h1 
			= @project.name
		%br
		.row
			%h3
				New data entry:
			= form_for(:log, url: project_logs_path(@project)) do |f|
				= f.label :float_entry
				= f.number_field :float_entry
				= f.submit "Continue", class: "btn btn-large btn-primary"
			- if @project.logs.any?
				%h3
					Data entries (
					= @project.logs.count
					)
				%br
				= render 'data_stats'
				%ol.projects
					= render @logs

