- provide(:title, @project.name)
.row
	%aside.span4
		%section
			%h1
				= gravatar_for @user
				= @user.name
				%br
				= @project.name
	%aside
	%h1 
		= @project.name
	%br
	.row
		.span6.offset3
			%h3
				New data entry:
			= form_for(:log, url: project_logs_path(@project)) do |f|
				= f.label :float_entry
				= f.number_field :float_entry
				= f.submit "Continue", class: "btn btn-large btn-primary"
			- if @project.logs.any?
				%h3
					Data entries (
					= @project.logs.count
					)
				%br
				Sum of data entries:
				%strong
					= @project.logs.sum('float_entry')
				%br
				Mean value of data entries:
				%strong
					= @project.logs.average('float_entry')
				%br
				Min value of data entries:
				= @project.logs.minimum('float_entry')
				%br
				Max value of data entries:
				= @project.logs.maximum('float_entry')
				%br
				%ol.projects
					= render @logs

